<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="afr.iterson.impatient_admin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.ImpatientApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/action_sign_in" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".activities.SessionViewActivity" >
                   </activity>
        <activity
            android:name=".activities.PatientListActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.PatientActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name=".activities.SettingsActivity" >
        </activity>
       
        <activity android:name=".activities.HelpActivity" >
           
        </activity>

        <provider
            android:name=".provider.PatientProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <service android:name="afr.iterson.impatient_admin.services.LoginService" />
        <service
            android:name="afr.iterson.impatient_admin.services.PollingService"
            />
        <service android:name="afr.iterson.impatient_admin.services.StatusService" />
    </application>

</manifest>